.casiClinici-section {
  padding: 4.8rem 0 9.6rem 0;
}

.casiClinici-title {
  font-size: 3.2rem;
  color: rgb(39, 68, 148);
}
.casiclinici-header {
  margin-bottom: 1.2rem;
}
.casiclinici-header p {
  font-size: 1.6rem;
}

.videobox-title {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  font-weight: 500;
  color: rgb(63, 63, 63);
}

.video {
  -webkit-box-shadow: 5px 5px 13px -1px rgba(0, 0, 0, 0.27);
  box-shadow: 5px 5px 13px -1px rgba(0, 0, 0, 0.27);
  margin-bottom: 1rem;
}
